#
# aliases.fish - common aliases
#
# @author Chris Walker
#

# General
alias grep "grep --color=auto"

# Top display in CPU decending order
alias top "top -o cpu"

# Bat instead of plain cat
alias cat "bat"
#... but occasionally want regular cat
alias ccat "/bin/cat"

{{- if eq .os "darwin"}}
# exa instead of plain ls
alias ls "exa"
# Use exa for 'tree'
alias tree "exa -T -I \"vendor|.git\""
#... but occasionally want regular ls
alias lls "/bin/ls -GFh --color=auto"

alias o "open"
alias ql "qlmanage -p"
alias tailscale "/Applications/Tailscale.app/Contents/MacOS/Tailscale"
{{else if eq .os "linux-fedora"}}
# Containers
# Dive source always Podman on my Linux devices
alias dive "dive --source podman $1"

alias tb "toolbox"
alias tbe "toolbox enter $1"
alias tbl "toolbox list"
{{end}}

{{- if eq .work true }}
# Work-related
alias k "kubectl"
alias kl "kubectl logs -f"
alias kdp "kubectl describe pod $1"
alias kgp "kubectl get pods"
{{- end}}
