#
# aliases.fish - common aliases
#
# @author Chris Walker
#

# General
abbr --add dust "dust -c"

# Top display in CPU decending order
abbr --add top "top -o cpu"

{{if eq .os "darwin" -}}
abbr --add o "open"
abbr --add ql "qlmanage -p"
{{end -}}

{{if eq .home true }}
# Need to alias Tailscale first, so we can abbreviate the alias.
alias tailscale "/Applications/Tailscale.app/Contents/MacOS/Tailscale"
abbr --add ts tailscale
{{end -}}
