#
# paths.fish - set up $PATH entries
#
# @author Chris Walker
#

set PATH ~/.local/bin $PATH

{{- if eq .os "darwin" }}
set -x GOPATH ~/Dev/Go
set -x GOBIN $GOPATH/bin
set PATH $GOBIN $PATH
{{- end}}
{{- if (and (eq .os "darwin") (eq .chezmoi.arch "arm64")) }}
eval (/opt/homebrew/bin/brew shellenv)
{{- end}}
{{- if eq .work true}}
set PATH /Library/TeX/Distributions/.DefaultTeX/Contents/Programs/x86_64 $PATH
set PATH ~/Dev/Applications/google-cloud-sdk/bin $PATH
set PATH /usr/local/opt/node@16/bin $PATH
{{- end}}
