function fish_prompt \
  --description 'Write out the prompt'

    set -l cmd_status $status

    # No limit to pwd output
    set -g fish_prompt_pwd_dir_length 0

    # Set up some colour variables
    set -l normal (set_color normal)
    set -l blue (set_color --bold blue)
    set -l cyan (set_color --bold cyan)
    set -l yellow (set_color --bold yellow) 
    set -l magenta (set_color --bold magenta)
    set -l green (set_color --bold green)
    set -l grey (set_color 81a1c1)
    set -l orange (set_color d08770 --bold)
	set -l red (set_color --bold red)

{{- if eq .os "linux-fedora" }}
    if string match -q "true" (in_podman)
        # set -l toolbox_name (grep name /run/.containerenv | cut -d '"' -f2)
        # printf '%s[%s] ' $magenta $toolbox_name
        printf '%s[%s] ' $magenta (toolbox_name)
    end
{{- end }}

{{- if eq .work true }}
    # Kube info
    if test $cmd_status -eq 0 
        printf '%s[%s] ' $green (kube_prompt)
    else
        printf '%s[%s] ' $red (kube_prompt)
	end
{{- end}}

    # PWD
	if test $cmd_status -eq 0
	    printf '%s%s%s' $green (prompt_pwd) (fish_git_prompt) 
	else
		printf '%s%s%s' $red (prompt_pwd) (fish_git_prompt)
	end

    # Second line
    printf '%s\n> ' $cyan
end
